.logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 2px;
    float: left;
}
#foda-img {
    width: 75%;
    margin: 2px;
    position: relative;
    left: 12%;
}
#foda-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#org-img {
    width: 75%;
    margin: 2px;
    position: relative;
    left: 12%;
}
#org-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#logo-img {
    width: 60%;
    margin: 2px;
    position: relative;
    left: 19%;
    border-radius: 50%;
}
#logo-img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}   
.slogan {
    font-size: 1.5em;
    margin: 2px;
    text-align: center;
}